@import "./reset.css";

/* variables */
:root {
    --primary: #071C2E;
    --secondary: #FED7AA;
    --red: #963100;
    --link: #7EA4C9;
    --text: #1A1A1A;
    --font-serif: 'Georgia', serif;
    --font-sans-serif: 'Segoe UI', sans-serif;
}

/* styles */

body {
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font-sans-serif);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 5.625rem;
    background-color: var(--primary);
}

header i {
    color: white;
}

header img {
    flex: 1;
}

header a img {
    margin-right: 1rem;
    margin-left: 1rem;
}

/* classes */

.mobile-icon {
    margin-left: 1rem;
}

.logo-img {
    max-width: 132px;
}

.btn {
    border: none;
    background-color: transparent;
    outline: none;
    max-height: 64px;
    max-width: 64px;
    min-height: 24px;
    min-width: 24px;
}

.btn-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cta-user {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 1rem;
}

.btn-user {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 0.5rem;
}

.btn-subscribe {
    background-color: var(--red);
    color: white;
    border-radius: 8px;
    width: 100%;
}

