@import "./reset.css";

/* variables */
:root {
    --primary: #071C2E;
    --secondary: #FED7AA;
    --red: #963100;
    --link: #7EA4C9;
    --text: #1A1A1A;
    --font-serif: 'Georgia', serif;
    --font-sans-serif: 'Segoe UI', sans-serif;
}

/* styles */

body {
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font-sans-serif);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 5.625rem;
    background-color: var(--primary);
}

header i {
    color: white;
}

header img {
    flex: 2;
}


header a img {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    max-width: 128px;
}

/* classes */

.mobile-icon {
    width: fit-content;
}

.btn {
    border: none;
    background-color: transparent;
    outline: none;
    max-height: 65px;
    max-width: 65px;
    min-height: 24px;
    min-width: 24px;
}

.btn-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
}

.logo-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: 100%;
    margin-right: 0.5rem;
}

.cta-user {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 11.625rem;
}

.btn-user {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.btn-subscribe {
    background-color: var(--red);
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    color: white;
    border-radius: 8px;
    width: 100%;
    padding: 0.3rem 0;
}

